* {
  font-family: 'Cairo', sans-serif;
}

[dir='rtl'] {
  color: #319EAC;
}

[dir='rtl'] .custom_select div.dropdown > div.caption {
  border-right: 5px solid #F35B67;
}

[dir='rtl'] .custom_select .down-arrow {
  left: 2%;
}

[dir='rtl'] .right-left {
  float: left;
}

[dir='rtl'] #popup-box .save {
  left: 5%;
}

[dir='rtl'] #popup-box .print {
  left: 10%;
}

[dir='rtl'] #popup-box #close {
  left: 90%;
}

@media (max-width: 700px) {
  [dir='rtl'] #popup-box .save {
    left: 4%;
  }
  [dir='rtl'] #popup-box .print {
    left: 10%;
  }
}

[dir='rtl'] .day-list {
  text-align: left;
}

[dir='rtl'] .pretty .state label:after,
[dir='rtl'] .pretty .state label:before {
  right: 0 !important;
}

[dir='rtl'] .state .svg {
  right: 0;
}

[dir='rtl'] .item-chose .col-md-3 .price-bedge {
  top: 10px;
  left: 0;
}

@media (min-width: 767px) and (max-width: 768px) {
  [dir='rtl'] .tall-label {
    font-size: 12px;
  }
  [dir='rtl'] .item-chose .col-md-3 .price-bedge {
    top: 15px !important;
    left: -10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  [dir='rtl'] .item-chose .col-md-3 .price-bedge {
    top: 10px !important;
    left: -5px;
  }
}

@media (max-width: 700px) {
  [dir='rtl'] .item-chose .col-md-3 .price-bedge {
    top: 10px;
    left: 10px;
  }
}

[dir='rtl'] .selection label span {
  top: -5px;
  left: -5px;
}

[dir='rtl'] .position-relative {
  position: relative !important;
}

[dir='rtl'] .position-relative .box-salary {
  left: 1%;
}

[dir='rtl'] .position-relative .box-salary span {
  color: #319EAC;
  font-size: 40px;
}

@media (min-width: 767px) and (max-width: 768px) {
  [dir='rtl'] .position-relative .box-salary {
    left: 25% !important;
    right: 25% !important;
    width: 50% !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  [dir='rtl'] .position-relative .box-salary {
    right: 35% !important;
    left: 35% !important;
    width: 30% !important;
  }
}

@media (max-width: 700px) {
  [dir='rtl'] .position-relative .box-salary {
    left: 5% !important;
    right: 5% !important;
    width: 90% !important;
  }
}

[dir='rtl'] input[type=email],
[dir='rtl'] input[type=tel],
[dir='rtl'] input[type=text],
[dir='rtl'] textarea {
  padding-right: 10px;
}

[dir='rtl'] .yes-no input[type="radio"].toggle + label:after {
  z-index: -1 !important;
}

[dir='rtl'] .yes-no input[type="radio"].toggle.toggle-left + label:after {
  right: 100%;
}

[dir='rtl'] .yes-no input[type="radio"].toggle.toggle-right + label {
  margin-right: 0px;
}

[dir='rtl'] .yes-no input[type="radio"].toggle.toggle-right + label:after {
  right: -100%;
}

[dir='rtl'] .yes-no input[type="radio"].toggle:checked + label:after {
  right: 0;
}

[dir='rtl'] .btn-send button {
  float: left;
}

[dir='rtl'] .inputGroup label {
  padding: 20px 35px 20px 0px;
}

[dir='rtl'] * {
  text-align: right;
}

[dir='rtl'] body {
  direction: rtl;
}

[dir='rtl'] .text-center {
  text-align: center !important;
}

[dir='rtl'] .copyrights {
  text-align: center !important;
}

@media (max-width: 800px) {
  [dir='rtl'] .rtlOrLtr {
    top: 25px;
    left: 90px;
    position: absolute;
  }
}

[dir='rtl'] .mRL-auto {
  margin-right: auto !important;
}

@media (min-width: 769px) and (max-width: 1024px) {
  [dir='rtl'] .selection label,
  [dir='rtl'] .system .selection label {
    padding: 0.4em !important;
    font-size: 15px !important;
  }
}

[dir='ltr'] {
  color: #319EAC;
}

[dir='ltr'] .custom_select div.dropdown > div.caption {
  border-left: 5px solid #F35B67;
}

[dir='ltr'] .custom_select .down-arrow {
  right: 2%;
}

[dir='ltr'] .right-left {
  float: right;
}

[dir='ltr'] #popup-box .save {
  position: absolute !important;
  left: 95%;
}

[dir='ltr'] #popup-box .share {
  position: absolute !important;
  left: 94%;
}

[dir='ltr'] #popup-box .print {
  position: absolute !important;
  left: 90%;
}

[dir='ltr'] #popup-box #close {
  color: #fff !important;
  font-size: 20px;
  position: absolute;
  top: 5%;
  left: 90%;
}

@media (max-width: 700px) {
  [dir='ltr'] #popup-box .save {
    left: 90% !important;
  }
  [dir='ltr'] #popup-box .print {
    left: 80% !important;
  }
}

[dir='ltr'] .day-list {
  text-align: right;
}

[dir='ltr'] .pretty .state label:after,
[dir='ltr'] .pretty .state label:before {
  left: 0 !important;
}

[dir='ltr'] .state .svg {
  left: 0;
}

[dir='ltr'] .item-chose .col-md-3 .price-bedge {
  top: 10px;
  right: -3px !important;
}

@media (min-width: 767px) and (max-width: 768px) {
  [dir='ltr'] .tall-label {
    font-size: 12px;
  }
  [dir='ltr'] .item-chose .col-md-3 .price-bedge {
    top: 15px !important;
    right: -10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  [dir='ltr'] .tall-label {
    font-size: 12px;
  }
  [dir='ltr'] .item-chose .col-md-3 .price-bedge {
    top: 10px !important;
    right: -5px;
  }
}

@media (max-width: 700px) {
  [dir='ltr'] .item-chose .col-md-3 .price-bedge {
    top: 10px;
    right: 15px !important;
  }
}

[dir='ltr'] .selection label span {
  top: -5px;
  right: -5px;
}

[dir='ltr'] .position-relative {
  position: relative !important;
}

[dir='ltr'] .position-relative .box-salary {
  right: 1%;
}

@media (min-width: 767px) and (max-width: 768px) {
  [dir='ltr'] .position-relative .box-salary {
    left: 25% !important;
    right: 25% !important;
    width: 50% !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  [dir='ltr'] .position-relative .box-salary {
    right: 35% !important;
    left: 35% !important;
    width: 30% !important;
  }
}

@media (max-width: 700px) {
  [dir='ltr'] .position-relative .box-salary {
    left: 5% !important;
    right: 5% !important;
    width: 90% !important;
  }
}

[dir='ltr'] input[type=email],
[dir='ltr'] input[type=tel],
[dir='ltr'] input[type=text],
[dir='ltr'] textarea {
  padding-left: 10px;
}

[dir='ltr'] .yes-no input[type="radio"].toggle + label:after {
  z-index: -1 !important;
}

[dir='ltr'] .yes-no input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}

[dir='ltr'] .yes-no input[type="radio"].toggle.toggle-right + label {
  margin-left: 0px;
}

[dir='ltr'] .yes-no input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}

[dir='ltr'] .yes-no input[type="radio"].toggle:checked + label:after {
  left: 0;
}

[dir='ltr'] .btn-send button {
  float: right;
}

[dir='ltr'] .text-center {
  text-align: center !important;
}

[dir='ltr'] .inputGroup label:after {
  left: 5px;
}

[dir='ltr'] .inputGroup label {
  padding: 20px 0px 20px 44px;
}

@media (max-width: 800px) {
  [dir='ltr'] .rtlOrLtr {
    top: 25px;
    right: 90px;
    position: absolute;
  }
}

[dir='ltr'] .mRL-auto {
  margin-left: auto !important;
}

@media (min-width: 769px) and (max-width: 1024px) {
  [dir='ltr'] .selection label,
  [dir='ltr'] .system .selection label {
    padding: 0.4em !important;
    font-size: 15px !important;
  }
}

.navbar-brand img {
  display: block;
  max-height: 60px;
  object-fit: contain;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.nav-link {
  color: #000 !important;
  font-size: 18px;
  font-weight: 700;
}

.nav-link:hover {
  color: #319EAC !important;
}

.title-watch {
  color: #319EAC;
  font-weight: 700;
}

nav {
  top: -5px !important;
}

a {
  text-decoration: none !important;
  color: #fff;
}

.rtlOrLtr {
  border: 2px solid #319EAC;
  cursor: pointer;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rtlOrLtr a {
  color: #319EAC !important;
}

.rtlOrLtr:hover {
  background-color: #319EAC;
}

.rtlOrLtr:hover a {
  color: #fff !important;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

footer a {
  color: #000 !important;
}

footer a:hover {
  color: #319EAC !important;
}

.footer {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.footer-column {
  min-width: 150px;
  margin-bottom: 15px;
}

@media all and (max-width: 47.9375em) {
  .footer-column {
    min-width: 50%;
  }
}

.footer-column-title {
  font-weight: 600;
  text-transform: capitalize;
}

@media all and (min-width: 75em) {
  .footer-column-title {
    font-size: 22px;
  }
}

.footer-column-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column-menu a {
  padding: 5px 0;
  display: inline-block;
}

.footer-column-menu.social {
  display: flex;
  justify-content: space-between;
}

.footer-column-menu.social li {
  margin: 0 5px;
}

.footer-column-menu.social li a {
  font-size: 30px;
}

.footer-column-menu.social li a .fab {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-column-menu.social li a .fa-facebook {
  color: #3b5998;
}

.footer-column-menu.social li a .fa-facebook:hover {
  color: #2d4373;
}

.footer-column-menu.social li a .fa-instagram {
  color: #3f729b;
}

.footer-column-menu.social li a .fa-instagram:hover {
  color: #305777;
}

.footer-column-menu.social li a .fa-linkedin {
  color: #0077b5;
}

.footer-column-menu.social li a .fa-linkedin:hover {
  color: #005582;
}

.footer-column-menu.social li a .fa-twitter {
  color: #55acee;
}

.footer-column-menu.social li a .fa-twitter:hover {
  color: #2795e9;
}

.footer-column-menu.social li a .fa-youtube {
  color: #cd201f;
}

.footer-column-menu.social li a .fa-youtube:hover {
  color: #a11918;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.app-link {
  display: block;
  max-width: 120px;
  padding-bottom: 10px;
}

.copyrights {
  padding: 15px;
  border-top: 1px solid #ccc;
}

.copyrights p {
  margin: 0;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999999 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.no-js .splash-screen {
  display: none;
}

.loaded .splash-screen {
  visibility: hidden;
  -webkit-transition: all 0.3s 0.6s ease-out;
  -o-transition: all 0.3s 0.6s ease-out;
  transition: all 0.3s 0.6s ease-out;
}

.loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 99999999999999999999999 !important;
}

.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loaded .loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.padding-nav {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

@media (max-width: 800px) {
  .padding-nav {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  nav {
    z-index: 44444444 !important;
  }
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #545454 !important;
}

@media (max-width: 768px) {
  .nav-link {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.secondShadow {
  box-shadow: 0 5px 5px #ccc;
}

.selection,
.selection {
  text-align: center;
  background-color: #fff;
  border: 2px solid #319EAC;
}

.selection label,
.system .selection label {
  display: inline-block;
  color: #319EAC !important;
  padding: 0.6em;
  cursor: pointer;
  width: 100%;
}

.selection label {
  margin-bottom: 0rem !important;
}

.selection input[type=checkbox],
.system .selection input[type=checkbox] {
  display: none;
  text-align: center;
}

.selection input[type=checkbox]:checked ~ label,
.system .selection input[type=checkbox]:checked ~ label {
  background-color: #319EAC;
  text-align: center;
  color: #fff !important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.border-5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.border-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

header {
  background-color: #EAEEF1;
  height: 70vh;
  width: 100%;
  clip-path: polygon(50% 0%, 100% 0, 100% 84%, 75% 100%, 0 62%, 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

header h3 {
  font-size: 50px !important;
  font-weight: 700;
}

header p {
  font-size: 30px !important;
}

@media (max-width: 700px) {
  header h3 {
    font-size: 30px !important;
    font-weight: 700;
  }
  header p {
    font-size: 20px !important;
  }
}

.head-sec {
  font-size: 20px;
  font-weight: 700;
  color: #F35B67;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border-right: solid 1px #e8e8e8 !important;
  border-top: solid 1px #e8e8e8 !important;
  border-bottom: solid 1px #e8e8e8 !important;
  border-left: solid 7px #319EAC !important;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 100%;
}

.nice-select:after {
  border-bottom: 2px solid #F35B67;
  border-right: 2px solid #F35B67;
  content: '';
  display: block;
  height: 8px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 17px !important;
  z-index: 999;
  font-size: 14px !important;
  left: 0;
  cursor: default;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 0px solid transparent;
  border-top-color: #ed5565;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  line-height: 0px;
  width: 25px !important;
  height: 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.irs--flat .irs-line {
  height: 8px;
  background-color: #e1e4e9;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.irs--flat .irs-bar {
  height: 8px;
  background-color: #ed5565;
}

.irs-hidden-input {
  display: none !important;
}

.yes-no .btn {
  display: inline-block;
  padding: 4px;
  position: relative;
  text-align: center;
  transition: background 600ms ease, color 600ms ease;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
}

.yes-no input[type="radio"].toggle {
  display: none;
}

.yes-no input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 60px;
}

.yes-no input[type="radio"].toggle + label:hover {
  background: none;
  color: #1a1a1a;
}

.yes-no input[type="radio"].toggle + label:after {
  background: #F35B67;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1 !important;
}

.yes-no input[type="radio"].toggle.toggle-left + label {
  border-right: 0;
}

.yes-no input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}

.yes-no input[type="radio"].toggle.toggle-right + label {
  margin-left: 0px;
}

.yes-no input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}

.yes-no input[type="radio"].toggle:checked + label {
  cursor: default;
  color: #fff;
  transition: color 200ms;
}

.yes-no input[type="radio"].toggle:checked + label:after {
  left: 0;
}

.btn-1 {
  border: 2px solid #F35B67 !important;
}

.btn-2 {
  border: 2px solid #F35B67 !important;
}

.tall-label {
  font-size: 15px;
}

.border-bot {
  border-bottom: 2px solid #319EAC;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.border-bottom2 {
  border-bottom: 2px solid #319EAC;
}

.bt-one {
  border-top: 2px solid #319EAC;
}

.btn-send button {
  background-color: #319EAC;
  color: #fff;
  border: none;
  text-align: center !important;
}

input[type=email],
input[type=tel],
input[type=text],
textarea {
  background-color: #eee;
  border: none;
  resize: none;
  outline: none;
  padding-left: 10px;
}

button {
  outline: none;
}

@media (max-width: 700px) {
  .chose .col-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }
  .btn-send {
    text-align: center;
  }
  .btn-send button {
    width: 40%;
    float: none;
  }
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  cursor: pointer !important;
}

@media (min-width: 767px) and (max-width: 768px) {
  .chose .col-2 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 10px;
  }
}

.position-relative {
  position: relative !important;
}

.position-relative .box-salary {
  position: fixed;
  width: 20%;
  background-color: #fff;
  box-shadow: 0 5px 5px #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  bottom: 0;
  z-index: 7777;
  font-size: 30px;
}

.position-relative .box-salary span {
  color: #319EAC;
  font-size: 40px;
}

@media (min-width: 767px) and (max-width: 768px) {
  .position-relative .box-salary {
    left: 25% !important;
    right: 25% !important;
    width: 50% !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .position-relative .box-salary {
    right: 35% !important;
    left: 35% !important;
    width: 30% !important;
  }
}

@media (max-width: 700px) {
  .position-relative .box-salary {
    left: 5% !important;
    right: 5% !important;
    width: 90% !important;
  }
}

header h3 {
  text-align: center !important;
}

header p {
  text-align: center !important;
}

.text-center {
  text-align: center !important;
}

.item-chose .col-md-3 {
  position: relative;
}

.item-chose .col-md-3 .price-bedge {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #319EAC;
  height: 30px;
  width: 30px;
  color: #fff;
  font-size: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}

.selection label {
  position: relative;
}

.selection label span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #F35B67;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 14px;
}

input:checked ~ .state.p-success-o label:before,
.pretty.p-toggle .state.p-success-o label:before {
  border-color: #319EAC;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-success-o label:after {
  background-color: #319EAC !important;
}

.pretty .state label:before {
  border-color: #319EAC;
}

.options-all h6 {
  color: #F35B67;
  font-size: 30px;
  font-weight: 700;
}

.options-all h6:not(:first-of-type) {
  margin-top: 15px;
}

.options-all ul li {
  font-size: 16px !important;
  line-height: 25px;
}

.options-all ul li a {
  color: #000;
}

.options-all ul li a:hover {
  color: #319EAC;
}

.options-all ul li span {
  color: #319EAC;
}

ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

ul.desc-service li {
  line-height: 35px;
  font-size: 15px;
}

ul.desc-service li span {
  color: #319EAC;
  font-size: 17px;
  font-weight: 700;
}

input[type=number] {
  border: 2px solid #319EAC !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 25%;
}

input[type=email],
input[type=tel],
input[type=text],
textarea,
input[type=number],
button {
  outline: none !important;
}

@media (min-width: 767px) and (max-width: 768px) {
  input[type=number] {
    width: 50%;
  }
}

@media (max-width: 700px) {
  input[type=number] {
    width: 100%;
  }
}

.i-setting, [dir='ltr'] #popup-box .save, [dir='ltr'] #popup-box .share, [dir='ltr'] #popup-box .print, #popup-box .save, #popup-box .print {
  color: #319EAC;
  font-size: 20px;
}

.top-setting, [dir='ltr'] #popup-box .save, [dir='ltr'] #popup-box .share, [dir='ltr'] #popup-box .print, #popup-box .save, #popup-box .print {
  top: 15px;
}

#popup-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999999999999999999999999999999;
  display: none;
  justify-content: center;
  align-items: center;
  animation-name: transScale;
  animation-duration: 1s;
}

#popup-box i {
  cursor: pointer !important;
}

#popup-box .save {
  position: absolute !important;
}

#popup-box .print {
  position: absolute !important;
}

#popup-box #close {
  color: #fff !important;
  font-size: 20px;
  position: absolute;
  top: 5%;
}

#popup-box .box-popup-list {
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#popup-box .total-table {
  height: 250px;
  overflow-y: scroll !important;
}

#popup-box ::-webkit-scrollbar {
  background-color: #fff;
}

#popup-box ::-webkit-scrollbar-track {
  background-color: #fff;
}

#popup-box ::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

#popup-box ::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}

#popup-box ::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

#popup-box ::-webkit-scrollbar-button {
  display: none;
}

#popup-box table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-top: 20px;
  margin-bottom: 20px;
}

#popup-box table tr {
  padding: 10px;
}

#popup-box table th,
#popup-box table td {
  padding: 10px;
  text-align: center;
}

#popup-box table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  #popup-box table {
    border: 0;
  }
  #popup-box table caption {
    font-size: 1.3em;
  }
  #popup-box table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #popup-box table tr {
    display: block;
  }
  #popup-box table td {
    display: block;
    font-size: .8em;
    text-align: right;
  }
  #popup-box table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  #popup-box table td:last-child {
    border-bottom: 0;
  }
}

.day-list {
  color: #F35B67;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #popup-box .box-popup-list {
    width: 70%;
  }
  .item-chose .col-md-3 .price-bedge {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }
}

@media (min-width: 767px) and (max-width: 768px) {
  .options-all h6 {
    color: #F35B67;
    font-size: 25px;
    font-weight: 700;
  }
  #popup-box .box-popup-list {
    width: 80%;
  }
  .item-chose .col-md-3 .price-bedge {
    padding-top: 0px !important;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
  .item-chose .col-md-3 .pt-1 {
    padding-top: 0px !important;
    padding-top: 0rem !important;
  }
}

@media (max-width: 700px) {
  #popup-box .box-popup-list {
    width: 95%;
  }
}

.total-price-table p {
  font-size: 30px !important;
  font-weight: 700;
}

.total-price-table p span {
  color: #319EAC;
}

tbody tr:nth-child(even) {
  background: #EBEBEB;
}

@-webkit-keyframes transScale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

.nice-select.open .list {
  z-index: 999999;
}

.custom_select div.container2 {
  margin: 5px auto;
  width: 100% !important;
  background-color: transparent;
}

.custom_select div.dropdown {
  position: relative;
}

.custom_select div.dropdown > div.caption {
  background-color: #fff;
  padding: 11px 24px;
  border: 1px solid #c3c3c3;
  border-radius: 8px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.custom_select div.dropdown > div.list {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border-radius: 0 0 3px 3px;
  display: none;
  z-index: 999999;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.custom_select div.dropdown > div.list > div.item {
  padding: 11px 24px;
  cursor: pointer;
}

.custom_select div.dropdown > div.list > div.item:not(:last-of-type) {
  border-bottom: 1px solid #c3c3c3;
}

.custom_select div.dropdown > div.list > div.item.selected {
  font-weight: bold;
}

.custom_select div.dropdown.open > div.caption {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.custom_select div.dropdown.open > div.list {
  display: block;
}

.custom_select .down-arrow {
  position: absolute;
  top: 40%;
}

.custom_select p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0rem;
}

.custom_select .list .item p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0rem;
}
